<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/24ccf67ffc.js" crossorigin="anonymous"></script>
    <title>ML</title>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header__logo"> 
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
        </div>
        <div class="home__header__buscador">
           <form action="">
            <input type="text" name="" id="">
           </form>
           <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="home__header__cuotas">           
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        
        <nav class="home__header__menu">
            <ul class="home__header__menu__opciones1"> 
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home__header__menu__opciones2">
                <li><a href="#">Crea Tu Cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>  
            </ul>
        </nav>
        <div class="home__header__burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main class="home__main">
        <div class="home__main__banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div>
        <h3>Basado un tu ultima visita</h3>
        <div class="home__main__articulo">

            <article class="home__main__articulo__section"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="home__main__articulo__valores"> 
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">
                    $6.770</h5>
                    <p class="home__main__articulo__valores__descuentos">
                        40% Off</p>
                    <p class="home__main__articulo__valores__producto">
                        Cafetera Moulinex</p>
                </div>
            </article>

            <article class="home__main__articulo__section">
                <img src="/images/img-macbook-pro-2019.jpg" alt="mac">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$230.000</h5>
                    <p class="home__main__articulo__valores__descuentos">20% Off</p>
                    <p class="home__main__articulo__valores__producto">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="home__main__articulo__section">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$70.500</h5>
                    <p class="home__main__articulo__valores__descuentos">10% Off</p>
                    <p class="home__main__articulo__valores__producto">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="home__main__articulo__section">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Tv">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$23.200</h5>
                    <p class="home__main__articulo__valores__descuentos">5% Off</p>
                    <p class="home__main__articulo__valores__producto">SmartTv Samsung 43"</p>
                </div>
            </article>

            <h3>Ofertas</h3>

            <article class="home__main__articulo__section">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$6.770</h5>
                    <p class="home__main__articulo__valores__descuentos">40% Off</p>
                    <p class="home__main__articulo__valores__producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="home__main__articulo__section">
                <img src="/images/img-macbook-pro-2019.jpg" alt="mac">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$230.000</h5>
                    <p class="home__main__articulo__valores__descuentos">20% Off</p>
                    <p class="home__main__articulo__valores__producto">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="home__main__articulo__section">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$70.500</h5>
                    <p class="home__main__articulo__valores__descuentos">10% Off</p>
                    <p class="home__main__articulo__valores__producto">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="home__main__articulo__section">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Tv">
                <div class="home__main__articulo__valores">
                    <i class="fa-solid fa-truck"></i>
                    <h5 class="home__main__articulo__valores__precio">$23.200</h5>
                    <p class="home__main__articulo__valores__descuentos">5% Off</p>
                    <p class="home__main__articulo__valores__producto">SmartTv Samsung 43"</p>
                </div>
            </article>
        </div>
    </main>

    
    <footer class="home__footer">
        <article class="home__footer__medios">
            <div class="home__footer__card">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="home__footer__envios">
            <div class="home__footer__envios__regalos">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="home__footer__seguridad">
            <div class="home__footer__seguridad__escudo">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>

        <h6 class="home__footer__copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>

    </footer>

</body>

</html>