<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/24ccf67ffc.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <header class="home__header">
        <div class="home__header__encabezado">
            <div class="home__header__logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            <div class="home__header__buscador">
                <form action="">
                    <input class="home__header__buscador__form" type="text" name="" id=""
                        placeholder="Buscar productos, marcas">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="home__header__cuotas">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <nav class="home__header__menu">
            <ul class="home__header__menu__opciones1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home__header__menu__opciones2">
                <li><a href="#">Crea Tu Cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="home__header__burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main class="form">
        <div class="form__Box">
            <h2>Completá los datos para crear tu cuenta</h2>
            <form action="">

                <div class="form__Box__form__inp">
                    <input id="name" type="text" name="name" placeholder="nombre y apellido">
                </div>
                <div class="form__Box__form__inp">
                    <input id="usuario" type="text" name="usuario" placeholder="nombre de usuario">
                </div>
                <div class="form__Box__form__inp">
                    <input id="usuario" type="text" name="usuario" placeholder="Email">
                </div>
                <div class="form__Box__form__inp">
                    <h4>fecha de nacimiento</h3>
                        <input id="date" type="date" name="date">
                </div>
                <div class="form__Box__form__inp">
                    <input id="domicilio" type="text" name="domicilio" placeholder="domicilio">
                </div>
                <div class="form__Box__form__perfilUsuario">
                    <h4>perfil de usuario</h4>
                    <input type="radio" name="perfil" value="comprador" id="comprador">

                    <label for="comprador">comprador
                    </label>
                    <label for="vendedor">
                        <input type="radio" name="perfil" value="vendedor" id="vendedor">vendedor

                    </label>
                </div>
                <div class="form__Box__form__intereses">

                    <h4 for="">intereses</h4>

                    <input type="checkbox" name="electro" id="electro" value="electro">
                    <label for="electro">electro</label><br>
                    <input type="checkbox" name="moda" id="moda" value="moda">
                    <label for="moda">moda</label><br>
                    <input type="checkbox" name="hogar" id="hogar" value="hogar">
                    <label for="hogar">hogar</label><br>
                    <input type="checkbox" name="jugueteria" id="jugueteria" value="jugueteria">
                    <label for="jugueteria"> jugueteria</label><br>
                    <input type="checkbox" name="vida sana" id="vida sana" value="vida sana">
                    <label for="vida sana">vida sana</label><br>

                </div>
                <div class="form__Box__form__inp">
                    <h4 for="fotoUsuario">Foto de usuario</h4>
                    <input id="fotoUsuario" type="file" accept=".jpg" name="fotoUsuario">
                </div>
                <div class="form__Box__form__inp">

                    <input id="password" type="password" name="password" placeholder="Ingrese su contraseña">
                </div>
                <div class="form__Box__form__inp">

                    <input id="password2" type="password" name="password2" placeholder="repita su contraseña">
                </div>
                <div class="form__Box__form__boton">
                    <button class="form__Box__boton__limpiar"  type="reset">Limpiar</button>
                    <button class="form__Box__boton__enviar"   type="submit" href="/"><a href="/">Enviar</a></button>
                </div>
            </form>
        </div>
    </main>
<footer class="home__footer">
        <article class="home__footer__medios">
            <div class="home__footer__card">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="home__footer__envios">
            <div class="home__footer__envios__regalos">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="home__footer__seguridad">
            <div class="home__footer__seguridad__escudo">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <h6 class="home__footer__copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>