:root{
    --Amarillo: #EAC926;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Azul: #03264C;
    --Verde: #39b54a;
    
    }
    
    body{
        font-family: 'Roboto', sans-serif; 
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 1180px;
    
    }
    
    h3{
        text-align: left;
        font-size: 24px;
    }

    h4{
        margin: 0;
    }

    h5{
        font-size: 18px;
    }
    h6{
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 0 15px;
        text-align: left;
    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    
    img{
        width: 100%;
    }
    
